<% lps.each do |lp| %>
  <div class="card">
    <div class="card-header bg-purple2 text-white">
      
      <span class="badge badge-dark badge-pill"> 
        <%= link_to [lp.artist, lp], class: "text-white" do %>
          <%= fa_icon 'play' %> <strong>&nbsp <%= lp.name %> </strong> -
        <% end %>
        <%= link_to lp.artist.name, artist_path(lp.artist), class: "text-white" %>
      </span>
      <span class="badge badge-light badge-pill"><%= lp.created_at.to_s[0..10] %></span>
    </div>
    <div class="card-body">
      <p class="mb-0">
        <em>
         <%= lp.description.truncate(300) %> %>
        </em>
      </p>
      <%= link_to [lp.artist, lp], class: "btn btn-sm btn-success", style: "width: 100px; margin: 1px;" do %>
        <%= fa_icon 'eye' %> Show
      <% end %>
      <%= link_to edit_artist_lp_path(lp.artist, lp), class: "btn btn-sm btn-warning", style: "width: 100px; margin: 1px;" do %>
        <%= fa_icon 'edit' %> Edit
      <% end %>
      <%= link_to [lp.artist, lp], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger", style: "width: 100px; margin: 1px;" do %>
        <%= fa_icon 'trash' %> Destroy
      <% end %>
    </div>
  </div>
  <br>
<% end %>


