<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Name</div>
    </div>
    <%= form.text_field :name, id: :artist_name, class: "form-control" %>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Description</div>
    </div>
    <%= form.text_area :description, id: :artist_description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-sm btn-purple" %>
<% end %>

