<br>
<div class="card">
  <div class="card-header bg-purple text-white">
    <%= fa_icon 'user' %> <%= @artist.name %>
  </div>
  <div class="card-body">
		<p class="mb-0">
			<em>
		  	<%= @artist.description %>
			</em>
		</p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header bg-purple text-white">
    <%= fa_icon 'music' %> All his works
  </div>
  <div class="card-body">
		
  </div>
</div>

<%= link_to 'Edit', edit_artist_path(@artist) %> 