<br>
<div class="card">
  <div class="card-header bg-purple text-white">
    <h3 class="header"><%= fa_icon 'user' %> <%= @artist.name %></h3> &nbsp&nbsp
    <span class="badge badge-info badge-pill">
      <%= @artist.lps.count %> LPs stored
    </span>
  </div>
  <div class="card-body">
		<p class="mb-0">
			<em>
		  	<%= @artist.description %>
			</em>
		</p>
    <br>
    <%= link_to new_artist_lp_path(@artist, Lp.new), class: "btn btn-sm btn-info" do %>
      <%= fa_icon 'plus' %> Add new LP
    <% end %>
    <%= link_to edit_artist_path(@artist), class: "btn btn-sm btn-warning" do %>
      <%= fa_icon 'edit' %> Edit
    <% end %> 
    <%= link_to @artist, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } do %>
     <%= fa_icon 'trash' %> Destroy
    <% end %>
  </div>
</div>
<br>

<% if has_lps?(@artist) %>
  <div class="card">
    <div class="card-header bg-purple text-white">
      <span><h3 class="header"><%= fa_icon 'music' %> All his works</h3></span>
    </div>
    <div class="card-body" id="lp_list">
  		<%= render 'lps/lp_list', lps: @artist.lps, artist: @artist %> 
    </div>
  </div>
<% else %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    This artist does not have works yet
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

