<nav class="navbar navbar-expand-lg navbar-dark bg-purple" style="padding-top: 0px; padding-bottom: 0px;">
  <%= fa_icon 'home', class: "text-white" %>
  &nbsp
  <%= link_to "Home", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "All artists", artists_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add an artist", new_artist_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "All LPs", lps_all_path, class:"nav-link" %>
      </li>
      
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %> 
          <li>
            <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">Salir <%= fa_icon 'times' %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </span>
  </div>
</nav>