<%= form_with(model: lp, local: true) do |form| %>
  <% if lp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lp.errors.count, "error") %> prohibited this lp from being saved:</h2>

      <ul>
      <% lp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lp_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :lp_description %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id, id: :lp_artist_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
